
.new-tweet {
  position: fixed;
  background-color:rgb(255, 255, 255);
  border: 1px solid #696969;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin: auto;
  padding: 0px 8px 40px 8px;
  top: 520px;
}

.new-tweet h2{
border-bottom: 1px solid black;
margin-top: 15px;
} 
.new-tweet > form {
  display: block;
}

form > input {
  float: left;
  margin-top: 3px;
}


.counter{
  color: #000;
  float:right;
}
form{
  display: block;
}